In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
consumer_key = "zuBhH8IkALoNiLdADzKaul1CK" 
consumer_secret = "MZsvdECWBQdTkspYjT6jnGaIA5T7ZHBocIGfZKRv3bSvUN8seg" 
access_token = "1243112494324797440-rkqzDThklcIPxSRknNNEb5X7IGHwR5" 
access_token_secret = "PrYTMvejpmMfVIv3dBusO0sy4CxQtRS7DDpxFIHcYa3B5"

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
search_words = "#enoughVIT"
date_since = "2021-06-09"

In [10]:
tweets = tw.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(2000)

# Iterate and print tweets
users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]

In [8]:
tweet_text = pd.DataFrame(data=users_locs, 
                    columns=['user', "location"])
tweet_text

                user           location
0     igneelfiredrag
1       DontIgnore77
2         189Santosh
3         189Santosh
4         189Santosh
..               ...                ...
495        PleaseVit
496   titter80140251
497      Dontknow580
498      imakhil1803  Vijayawada, India
499  1MelonLord02081

[500 rows x 2 columns]

In [9]:
tweet_text.to_excel("enoughvit.xlsx")